html,
body {
    height: 100%;
}

body {
    background-color: #faf2f2;
    text-align: center;
}

h1 {
    font-family: 'Caveat Brush', cursive;
    color: #7d5a5a;
    text-align: center;
    margin-top: 150px;
    font-size: 4em
}

p {
    text-align: center;
    color: #7d5a5a;
    font-family: 'Raleway';
    font-size: 2.5em;
}


/* navbar */

.nav-item {
    font-family: "Raleway";
    font-size: 1.4em;
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: #7d5a5a;
}

.nav-item:hover {
    color: #f77a8f;
    text-decoration: none;
}

.pos-f-t {
    text-align: center;
}

.bg {
    background-color: #faf2f2;
    ;
}

.navbar-default {
    background-color: #faf2f2 !important;
}

.fa-bars {
    color: #d5a5a1;
}


/* Footer */

.content {
    flex: 1 0 auto;
}

.footer {
    /* margin-top: 140px;
    padding: 30px;
    margin-left: 0;
    margin-right: 0; */
    flex-shrink: 0;
    font-family: "Raleway";
    font-size: 1em;
    color: #7d5a5a;
    text-align: center;
}

.social-icon {
    color: #7d5a5a;
    width: 30px;
    font-size: 1.5em;
    text-align: center;
}

.social-icon:hover {
    color: white;
}

.fa-1x {
    font-size: 1.5rem;
}

.nav-item {
    text-decoration: none;
    font-family: "Raleway";
}

.copyright {
    color: #7d5a5a;
    font-size: 1.5em
}

.contact-doodles {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
}