body {
  background-color: #002626;
}

h1{
  font-family:'Caveat Brush', cursive;
  text-align: center;
  color: #ff9c91;
  margin-top: 60px;
  font-size: 3.5em;
}
h2{
  font-family: 'Caveat Brush',cursive;
  color: #ff9c91;
  margin-top: 100px;
  text-align: center;
}

h3{
  font-family: 'Caveat Brush',cursive;
  margin-top: 500px;
}

/* digital portraits */

.digital-portraits{
  width: 30%;
  margin-top:auto;
  margin-left: 40px;
}



/* Navbar Style */
.nav-item{
  font-family:"Raleway";
  font-size: 1.4em;
  list-style:none;
  display: inline-block;
  padding: 10px;
  color:#ff9c91;
}
.nav-item:hover{
  color:white;
  text-decoration: none;
}

.pos-f-t{
  text-align: center;
}

.bg{
  background-color: #002626;
}
.navbar-default{
  background-color:#002626 !important;
}

.fa-bars{
  color:#ff9c91;
}


/* Footer */
.footer{
  margin-top: 200px;
  padding: 30px;
  margin-left: 0;
  margin-right:0;
  font-family:"Raleway";
  font-size: 1.5em;
  color: #ef9a9a;
  text-align: center;
}
.social-icon{
color: #ef9a9a;
font-size:1.5em;
}
.social-icon:hover{
  color:white;
}
.fa-1x {
font-size: 1.5rem;
}

.nav-item{
  text-decoration: none;
  font-family: "Raleway";
}
.copyright{
  color:#ef9a9a;
}
